.about-home {
    padding: 60px 0;
    background: #fff; /* only services section white */
    color: #000;      /* only services section text black */
}
.about-heading {
   font-size: 1.8rem;
    font-weight: 1500;
    text-align: center;
    margin-bottom: 40px;
}

.about-heading p {
    margin-top: 5px;
    font-size: 1.3rem;
    color: #444;
    text-align: center;
}